*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* :root{
    --
} */
body{
    background-color: rgb(243, 219, 185);
    overflow-x: hidden;
    width: 100vw;
}

/* Styling the Navbar */
#navbar {
    width: 100%;
    height: auto;
    padding: 15px 0px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.hamburger {
    display: none;
    cursor: pointer;
    margin-right: 50px;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
.yellow{
    color: rgb(227, 210, 84);
}
/* Styling the navbar Links */
#navbarLinks a{
    text-decoration: none;
    margin-right: 20px;
    color: white;
}
#navbarLinks a:not(#home):hover{
    color:rgb(227, 210, 84) ;
}
#home span:hover{
    color: white;
}
/* Styling The Hero Section */
#heroSection{
    width: 100vw;
    height: 50vh;
    background-color: rgb(254, 248, 245);
    display: flex;
    justify-content: center;
    padding: 15px 0px;
}

/* Styling The Hero Section Children */
#heroSectionText, #heroSectionImage{
    width: 45vw;
    height: 100%;
    color: black;
    gap: 20px;
}
#heroSectionText{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction:column ;
    font-size: x-large;
}

/* styling the heroSectionDescription and searchInput */
.heroSectionDescription{
    font-size:large;
}
#GetStarted{
    text-decoration: none;
    background-color: rgb(227, 210, 84);
    color: black;
    font-size: 16px;
    width: 100px;
    padding: 7px 0px;
    text-align: center;
}
#GetStarted:hover{
    outline: 2px solid black;
    outline-offset: 2px;
}
/* Styling search button */
#heroSectionImage{
    display: flex;
    align-items: center;
    justify-content: center;
}
#searchBtn{
    padding: 8px;
    margin-top: px;
    height: 30px;
    background-color:rgb(250, 220, 118) ;
    border: none;
    border-radius: 5px;
}
#searchBtn:hover{
    outline: 2px solid black;
    outline-offset: 2px;
}
#getStartedBtn a {
   cursor: pointer;

}

/* Styling The About App and Developers Section */
.aboutSections{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    width: 100vw;
    height: auto;
    padding: 20px 70px;
}

/* Styling The Contact Us Section */
#contactUs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    background-color: black;
    padding: 10px 0px;
}

/* Styling The Contact Us input, textarea and button */
#contactUs input{
    padding: 5px;
    padding-left: 8px;
    outline: none;
    width: 200px;
}
#contactUs textarea{
    padding: 8px;
    outline: none;
    width: 250px;

}
#contactUsSection .Header{
    color: white;
}
#contactUsSection .Header:hover{
    color: rgb(227, 210, 84) ;
}
#contactUs input:hover, #contactUs textarea:hover{
    border-radius: 5px;
    outline: 3px solid rgb(227, 210, 84);
}

#contactUs input::placeholder,#contactUs textarea::placeholder {
    font-weight: lighter;
    font-size: smaller;
}
#sendButton{
    padding: 0px;
    width: 90px;
    cursor: pointer;
    background-color:rgb(227, 210, 84);
    border: 0px;
}
#sendButton:hover{
    background-color: white;
}
.footer{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}


@media (max-width: 760px){
    #heroSectionImage img{
        width: 300px;
    }
    .heroSectionDescription{
        font-size: medium;
    }
    .heroSectionHeader{
        font-size: medium;
    }
    #heroSection{
    width: 100vw;
    height: 50vh;
    background-color: rgb(254, 248, 245);
    display: flex;
    gap: 25px;
    justify-content: center;
    padding: 15px 0px;
}
.hamburger {
    display: block;
    margin-right: -5px;
}
.hamburger.active .bar:nth-child(2){
    opacity: 0;
}
.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
transform: translateY(-8px) rotate(-45deg);
}
#navbarLinks {
position: absolute;
left: 100%;
top: 10%;
display: none;
flex-direction: column;
background-color:  black;
width: 100vw;
height: auto;
text-align: center;
}
#navbarLinks a {
    margin-right: 0px;
}
.nav-link {
margin: 10px 0;
padding: 20px 0px;
transition: 1s ease-in-out;
}
.nav-link:hover{
    background-color: rgb(50, 48, 48);
}
#navbarLinks.active{
left: 0%;
top: 55px;
display: flex;
transition: 1s;
}
}
@media(max-width: 550px){
    #heroSection{
        background: url(./heroSectionImagePhone.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
        #heroSectionImage{
        display: none;
    }
    #heroSectionText{
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}



@media (max-width:350px){
    #searchForm{
        flex-direction: column;
    }
    .aboutSections{
        padding: 15px 30px;
    }
}